<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="ConfigurarJuego.cshtml">
    Nombre Usuario:<input type="text" name="username" placeholder="Ingrese su nombre"/><br/>
    <p>
    Dificultad:<br>
    <input type="radio" name="facil" value="1" required/> facil<br/>
    <input type="radio" name="normal" value="2" required/> normal<br/>
    <input type="radio" name="dificil" value="3" required/> dificil<br/>
    <input type="radio" name="Todas" value="-1" required/> Todas las preguntas<br/>
    </p>
    <p>
    Categoria:
    <input type="radio" name="Categoria" value="1" required/>Categoria<br/>
    <input type="radio" name="Categoria" value="2" required/>Categoria<br/>
    <input type="radio" name="Categoria" value="3" required/>Categoria<br/>
    <input type="radio" name="Categoria" value="-1" required/>Todas las categorias<br/>
    </p>
    
    </form>
</body>
</html>