<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juego</title>
</head>
<body>
    <p>@ViewBag.Username</p> <!--Falta poner puntaje actual, nro de pregunta actual y enunciado-->

    <form action='@Url.Action("Juego")' method="post">
        @foreach(string respuesta in  ViewBag.RespuestasAPregunta){
            <button>@respuesta</button>
        }
        <button><a href='@Url.Action("VerificarRespuesta")'></a></button>
    </form>
</body>
</html>