@if(ViewBag.Respuesta == true){
    <a href="img/"></a>
    <p>Respuesta correcta!</p>
}else{
    <a href="img/"></a>
    <p>Respuesta incorrecta...</p>
    /*<p>Esta es la respuesata Correcta; @ViewBag.RespuestasAPregunta</p>*/
    <button><a href='@Url.Action("HomeController","Jugar")'>Volver a intentarlo</a></button>
}   